body {
  margin: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  text-decoration: none;
  cursor: pointer;
  color: azure;
}

.App-header h1 {
  padding: 10px;
  border: 7px groove salmon;
}

.button-group {
  width: 50%;
  height: auto;
  display: block;
  float: left;
}

#input_container {
  position: relative;
  margin: 0 30px;
}

.input-field {
  height: 25px;
  outline: none;
  background-color: #282c34;
  color: azure;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px 0px;
  font-family: "Times New Roman", Times, serif;
  border-color: salmon;
  border-width: 0px 0px 3px 0px;
  border-style: groove;
  margin: 0;
  width: 100%;
}

.icon {
  color: salmon;
  margin-bottom: 10px;
  position: absolute;
  right: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 25px;
}

@media (max-width: 750px) {
  .button-group {
    width: 100%;
    margin-bottom: 30px;
  }
}

.numpad {
  text-align: center;
}

.number-key {
  min-width: 100px;
  background-color: #282c34;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid saddlebrown;
  color: azure;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  border: 2px solid gray;
  color: gray;
}

.vl {
  border-left: 2px solid salmon;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: auto;
}

@media (max-width: 750px) {
  .vl {
    display: none;
  }
}

.heroes-group {
  width: 50%;
  height: auto;
  display: block;
  float: right;
  text-align: center;
}

@media (max-width: 750px) {
  .heroes-group {
    width: 100%;
  }
}

.heroes-group h2 {
  color: azure;
}

.heroes-style {
  display: inline-block;
  color: azure;
  border: 3px solid saddlebrown;
  margin: 10px;
  padding: 10px;
  overflow-x: auto;
  cursor: pointer;
}

.hero-style h3 {
  font-size: 1rem;
}

.hero-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hero-style h2,
.hero-style p {
  margin: 10px;
}
